.inline 
{
  display:inline;  
}

#create-register
{
  position:absolute;
  top:15px;
  right:0px;
}

.navigator-register 
{
  line-height: 40px;
}

.navigator-register .span8
{
  text-align: right;
}

#tags-list
{
  margin:0px;
  padding:0px;
  list-style:none;
}

#tags-list li 
{
  margin:0px 5px;
}

.required 
{
  color:#f00;
}

#new_register input[type='radio']
{
  margin:0px;
}

#new_register #register_kind_ingreso
{
  margin-right:20px;
}