.inline 
{
  display:inline;  
}

#create-register
{
  position:absolute;
  top:15px;
  right:0px;
}

.navigator-register 
{
  line-height: 40px;
}

.navigator-register .span8
{
  text-align: right;
}
